spring:
  data:
    mongodb:
      database: ${DB_NAME:blog_db}
      port: ${DB_PORT:27017}
      host: ${DB_HOST:localhost}
      username: ${DB_USER:SomeUser}
      password: ${DB_PASSWORD:SomePassword}
  servlet:
    multipart:
      enabled: true
      max-file-size: 256MB
      max-request-size: 256MB

management:
  endpoints:
    web:
      exposure:
        include: loggers
  endpoint:
    loggers:
      enabled: true


mongock:
  migration-scan-package: com.example.blogservice.changeunit

server:
  port: 8080

jwt:
  secret: secret

init:
  users:
    location: ${INIT_USERS_LOCATION:infastructure/init/InitUser.json}

#    -
#      id: 1
#      username: "admin"
#      password: "password"
#      email: "myachinenergo@mail.ru"
#      dateOfBirth: 1997-06-25
#      role: ROLE_ADMIN
#    -
#      id: 2
#      username: "secondUser"
#      password: "secondPassword"
#      email: "bekone97@mail.ru"
#      dateOfBirth: 1997-05-12
#      role: ROLE_ADMIN
